@font-face {
    src: url(fonts/Quicksand-VariableFont_wght.ttf);
    font-family: Quicksand;
}
body {
    font-family: 'Lato', sans-serif;
    text-indent: 30px;
    line-height: 26px;
}

h1 {
    color: rgb(152, 26, 255);
    font-size: 33px;
    margin: 5px;
    background-color: lightsteelblue;
    text-align: center;
}
.index-intro h3 {
    text-align: center;
    font-weight: 700;
}
#tittle {
    color: #000;
    background-color: #fff;
    text-align: left;
    font-size: 20px;
}
h4 {
    color: #00008b;
    background-color: rgb(200, 200, 350);
    text-align: right;
}
a {
    font-family: 'Quicksand', sans-serif;
}
#signature {
    text-transform: uppercase;
    font-style: italic;
}